@model PagedList.IPagedList<LibraryManagement.Models.Author>
@using PagedList.Mvc;
<div class="row">
    @if (TempData["message"] != null) {
        var className = "alert text-center " + (@TempData["error"] != null ? "alert-danger" : "alert-success");
        <p class="@className">
            @TempData["message"]
        </p>
    }
    <div class="col-sm-7 mb-1">
        <form action="/Authors/Index" method="GET">
            <div class="col-sm-5 pl-0">
                @Html.TextBox("key", null, new { @class = "form-control input-sm" })
            </div>
            <div class="col-sm-7">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                @Html.ActionLink("Clear", "Index", "Authors", null, new { @class = "btn btn-default" })
                <a href="@Url.Action("Add", "Authors")" class="btn btn-success">
                    <i class="fa fa-plus"></i>
                    Add New
                </a>
                <a href="@Url.Action("Export", "Authors")" class="btn btn-info"><i class="fa fa-download" aria-hidden="true"></i> Export to excel</a>
            </div>
        </form>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                All Authors in library
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover"
                           id="dataTables-example">
                        <thead>
                            <tr class="center">
                                <th>Author ID</th>
                                <th>Author Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var author in Model) {
                                <tr>

                                    <td>@author.id</td>
                                    <td> @author.author_name</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Authors", new {@author.id})" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> </a>
                                        <btn onclick="deleteFunction(@author.id)" class="btn btn-danger"><i class="fa fa-trash"></i></btn>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        @*@using (Html.BeginForm("Index", "Authors", FormMethod.Get)) {
                <p class="m-20" style="width: 75px">
                    @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @class = "form-control", @onchange = "this.form.submit();" })
                </p>
            }*@
        <form action="/Authors/Index" method="GET">
            <p class="m-20" style="width: 75px">
                @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @class = "form-control", @onchange = "this.form.submit();" })
            </p>
        </form>
    </div>
    <div class="col-lg-6">
        @Html.PagedListPager(Model, page => Url.Action("Index",
         new {
                  page,
                  key = ViewBag.searchValue,
                  size = ViewBag.currentSize
         }))
    </div>

</div>

<script>
    function deleteFunction(event ,id) {
        var { origin } = window.location;
        event.preventDefault();
        swal({
            title: "Do you want to delete Author " + id + "?",
            text: "",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
                if (willDelete) {
                    window.location = `${origin}/Authors/Delete/${id}`;
                }
         });
    }
</script>