
@{
    ViewBag.Title = "Member-Add";
}
@model LibraryManagement.Models.Member

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add member form
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Add", "Member", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.FullName, "Member Name")
                            @Html.TextBoxFor(m => m.FullName, null, new { @class = "form-control", @placeholder = "Full name" })
                            @Html.ValidationMessageFor(m => m.FullName, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.PhoneNumber, "Phone")
                            @Html.TextBoxFor(m => m.PhoneNumber, null, new { @class = "form-control", @placeholder = "(0000).000.000" })
                            @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Address, "Address")
                            @Html.TextBoxFor(m => m.Address, null, new { @class = "form-control", @placeholder = "Address" })
                            @Html.ValidationMessageFor(m => m.Address, null, new { @class = "text-danger" })
                        </div>
                            <button type="submit" class="btn btn-primary">Add Member</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

