
@{
    ViewBag.Title = "Book-Add";
}
@model LibraryManagement.Models.Book
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add book form
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Add", "Book", FormMethod.Post, new
                        { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(b => b.AuthorID, "Author")
                                @Html.DropDownListFor(b => b.AuthorID, (IEnumerable<SelectListItem>)ViewBag.Authors , new { @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.AuthorID, null, new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(b => b.CategoryID, "Category")
                                @Html.DropDownListFor(b => b.CategoryID, (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.CategoryID, null, new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(b => b.Title, "Title")
                                @Html.TextBoxFor(b => b.Title, null, new { @class = "form-control", @placeholder = "Title" })
                                @Html.ValidationMessageFor(b => b.Title, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(b => b.Price, "Price")
                                @Html.TextBoxFor(b => b.Price, null, new { @class = "form-control", @placeholder = "Price" })
                                @Html.ValidationMessageFor(b => b.Price, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(b => b.AvailableBook, "Available Book")
                                @Html.TextBoxFor(b => b.AvailableBook, null, new { @class = "form-control", @placeholder = "Address" })
                                @Html.ValidationMessageFor(b => b.AvailableBook, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(b => b.Description, "Description")
                                @Html.TextAreaFor(b => b.Description, new { @class = "form-control", @placeholder = "Description" })
                                @Html.ValidationMessageFor(b => b.Description, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(b => b.Thumbnail, "Thumbnail")
                                <p id="p-image-contain"><img id="image-contain" src="" style="width: 150px; height: 150px;" alt="Image"></p>
                                @Html.TextBoxFor(b => b.ImageFile, new { @type = "file", @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.Thumbnail, null, new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-primary">Add Book</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($('#image-contain').attr('src') === '') {
            $('img').remove();
        }

        $("#ImageFile").change(function () {
            $('#p-image-contain').append('<img id="image-contain" src="" style="width: 150px; height: 150px;" alt="Image"></img>');
            showImage(this);
        });
    });

    function showImage(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();

        reader.onload = function (e) {
            $("#image-contain").attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>