@model LibraryManagement.Models.Book
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                Update Book ID @Model.id
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @using (Html.BeginForm("Edit", "Book", FormMethod.Post, new
                        { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.HiddenFor(b => b.id)
                                @Html.LabelFor(b => b.author_id, "Author")
                                @Html.DropDownListFor(b => b.author_id, (IEnumerable<SelectListItem>)ViewBag.Authors, new { @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.author_id, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(b => b.id)
                                @Html.LabelFor(b => b.category_id, "Category")
                                @Html.DropDownListFor(b => b.category_id, (IEnumerable<SelectListItem>)ViewBag.Categories, new { @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.category_id, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(b => b.id)
                                @Html.LabelFor(b => b.title, "Title")
                                @Html.TextBoxFor(b => b.title, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.title, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(b => b.id)
                                @Html.LabelFor(b => b.price, "Price")
                                @Html.TextBoxFor(b => b.price, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.price, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(b => b.id)
                                @Html.LabelFor(b => b.available_book, "Available Book")
                                @Html.TextBoxFor(b => b.available_book, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.available_book, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(b => b.id)
                                @Html.LabelFor(b => b.description, "Description")
                                @Html.TextAreaFor(b => b.description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(b => b.description, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(b => b.id)
                                @Html.LabelFor(b => b.thumbnail, "Thumbnail")
                                @*@Html.TextBoxFor(b => b.thumbnail, new { @type = "text",style="display:none",@class = "form-control" })*@
                                <p id="p-image-contain"><img id="image-contain" src="@Model.thumbnail" style="width: 150px; height: 150px;" alt="Image"></p>
                                <input type="file" id="image" name="ImageFile" value="">
                                @Html.ValidationMessageFor(b => b.thumbnail, null, new { @class = "text-danger" })
                            </div>
                            <button type="submit" class="btn btn-info">Update</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $("#image").change(function () {
        showImage(this);
    });

    function showImage(fileInput) {
        file = fileInput.files[0];
        reader = new FileReader();
        reader.onload = function (e) {
            $("#image-contain").attr('src', e.target.result);
        };
        reader.readAsDataURL(file);
    }
</script>